.greate_logo {
    font-family: 'Raleway', sans-serif;
}
.greate_footer{
    text-align:center;
    margin-top: 2rem
}
.greate_footer_button{
    font-size: .9rem;
}
.greate_footer_logo{
    margin-top: 1rem;
}
.greate_header{
    text-align:center;
    margin: 2rem 0;
}

@media screen and (max-width:500px) {
    html {
        font-size: 13px;
    }
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: none;
}

.greate_header_nav {
    margin: 0 0.5rem;
}

.greate_header_navbar{

    margin: 1rem 0;
}
